[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fire = "*"

[test-packages]
pytest = "*"
pytest-cov = "*"
types-google-cloud-ndb = "*"
types-psutil = "*"
types-pytz = "*"
types-pyyaml = "*"
types-requests = "*"
types-urllib3 = "*"
typing-extensions = "*"
pandas-stubs = "*"

[dev-packages]
flake8 = "*"
jedi = "*"
mypy = "*"
pandas-stubs = "*"
pdbpp = "*"
pycodestyle = "*"
pycompile = "*"
pyflakes = "*"
pylint = "*"
pyls = "*"
python-lsp-server = "*"
ruff = "*"
ruff-lsp = "*"
semgrep = "*"
seaborn = "*"
matplotlib = "*"

[requires]
python_version = "3.11"
