[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fire = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
pycodestyle = "*"
pycompile = "*"
pyflakes = "*"
pylint = "*"
pyls = "*"
python-lsp-server = "*"
ruff = "*"
ruff-lsp = "*"
semgrep = "*"

[requires]
python_version = "3.11"
