[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fire = "*"

[dev-packages]
pyls = "*"
semgrep = "*"
ruff-lsp = "*"
python-lsp-server = "*"
ruff = "*"
flake8 = "*"
pycodestyle = "*"
pylint = "*"
pycompile = "*"
mypy = "*"
pyflakes = "*"

[requires]
python_version = "3.11"
